{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "jest": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "max-len": ["error", { "code": 100 }],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["warn"],
    "no-return-assign": ["off"],
    "no-use-before-define": ["warn"],
    "no-shadow": ["warn"],
    "no-console": ["off"],
    "no-unused-vars": ["warn"],
    "eslint-disable-next-line": ["off"],
    "arrow-body-style": ["off"],
    "react/jsx-props-no-spreading": "off"
  }
}
